<!-- Header Section User not logged In -->

<style>
  #cartCount {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 2px 10px 0px;
  }
</style>

<div class="sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="/user/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li class="<%= activeMenuItem === '/home' ? 'active' : '' %>"><a href="/">Home</a></li>
            <li class="<%= activeMenuItem === '/shop' ? 'active' : '' %>"><a href="/shop/?pageNum=1">Shop</a></li>
            <li class="<%= activeMenuItem === '/contact' ? 'active' : '' %>"><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a href="#" class="search-switch"><img src="/user/img/shopping-cart/search.svg" style="width: 20px;"
              alt=""></a>
          <a href="/profile/wishlist"><img src="/user/img/shopping-cart/heart.svg" style="width: 20px;" alt=""></a>
          <a href="/cart" class=""><img src="/user/img/shopping-cart/bag.svg" style="width: 20px;" alt="">
            <span id="cartCount" class="badge badge-success">
              <%= cartCount %>
            </span></a>
          <a href="/profile" class="text-dark"><img src="/user/img/icon/user.svg" alt="">
            <%= userName %>
          </a>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</div>
<!-- Header Section End -->