

          <div class="row">
            
            <div class="col-lg-4 col-md-4 order-0">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0 me-3">
                          <span class="avatar-initial rounded bg-label-success"
                          ><i class="bx bx-wallet-alt"></i
                            ></span>
                          </div>
                      </div>
                      <span class="fw-semibold d-block mb-1">Revenue</span>
                      <h3 class="card-title mb-2">₹ <%= data.revenue %></h3>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0 me-3">
                          <span class="avatar-initial rounded bg-label-primary"
                          ><i class="bx bx-package"></i
                            ></span>
                          </div>
                        
                      </div>
                      <span class="fw-semibold d-block mb-1">Orders</span>
                      <h3 class="card-title text-nowrap mb-1"><%= data.ordersCount %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0 me-3">
                          <span class="avatar-initial rounded bg-label-danger"
                          ><i class='bx bxs-component'></i></span>
                          </div>
                        
                      </div>
                      <span class="d-block mb-1">Products</span>
                      <h3 class="card-title text-nowrap mb-2"><%= data.productsCount %></h3>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0 me-3">
                          <span class="avatar-initial rounded bg-label-dark"
                          ><i class="bx bx-user-circle"></i
                            ></span>
                          </div>
                        
                      </div>
                      <span class="fw-semibold d-block mb-1">Users</span>
                      <h3 class="card-title mb-2"><%= data.usersCount %></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total Revenue -->
            <div class="col-12 col-lg-8 order-1  order-md-3 order-lg-2 mb-4">
              <div class="card">
                <div class="row row-bordered g-0">
                  <div class="col">
                    <h5 class="card-header m-0 me-2 pb-3">Sales Graph</h5>
                    <div id="totalRevenueChart" class="px-2"></div>
                  </div>
                  
                </div>
              </div>
            </div>
            <!--/ Total Revenue -->
            
          </div>
          <div class="row">
            <!-- Order Statistics -->
            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
              <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                  <div class="card-title mb-0">
                    <h5 class="m-0 me-2">Products based on Category</h5>
                  </div>
                  
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-column align-items-center gap-1">
                      <h2 class="mb-2"><%= data.productsCount %></h2>
                      <span>Total Products</span>
                    </div>
                    <div id="orderStatisticsChart"></div>
                  </div>
                  <ul class="p-0 m-0">
                    <% data.categories.forEach(category=>{ %>
                      <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                          <% if (category.name === 'Clothing') { %>
                            <span class="avatar-initial rounded bg-label-primary">
                              <i class='bx bxs-t-shirt'></i></i>
                            </span>
                          <% } else if (category.name === 'Shoes') { %>
                            <span class="avatar-initial rounded bg-label-success">
                              <i class='bx bx-football'></i>
                            </span>
                          <% } else if (category.name === 'Bag') { %>
                            <span class="avatar-initial rounded bg-label-danger">
                              <i class='bx bxs-backpack'></i>
                            </span>
                          <% } else { %>
                            <span class="avatar-initial rounded bg-label-dark">
                              <i class='bx bx-customize'></i>
                            </span>
                          <% } %>
                        </div>
                        
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0"><%= category.name %></h6>
                            </div>
                            <div class="user-progress">
                              <small class="fw-semibold"><%= category.productCount%></small>
                            </div>
                          </div>
                        </li>
                        <% }) %>
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Order Statistics -->

            

            <!-- Transactions -->
            <div class="col-md-6 col-lg-8 order-2 mb-4">
              <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="card-title m-0 me-2">Recent Orders</h5>
                  
                </div>
                <div class="card-body">
                  <ul class="p-0 m-0">
                    <% data.orders.forEach(order=>{ %>
                      <a href="/admin-panel/order-detail/<%= order._id  %>">
                      <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <% if (order.products[0].status === 'Cancelled') { %>
                              <span class="avatar-initial rounded bg-label-danger">
                                <i class='bx bx-block'></i></i>
                              </span>
                            <% } else if (order.products[0].status === 'Returned') { %>
                              <span class="avatar-initial rounded bg-label-warning">
                                <i class='bx bx-reset'></i>
                              </span>
                            <% } else if (order.products[0].status === 'Pending') { %>
                              <span class="avatar-initial rounded bg-label-warning">
                                <i class='bx bx-error'></i>
                              </span>
                            <% } else { %>
                              <span class="avatar-initial rounded bg-label-success">
                                <i class='bx bx-check-circle' ></i>
                              </span>
                            <% } %>
                      </div>
                      <div class="d-flex w-100 align-items-center">
                        <div class="col me-5">
                          <small class="text-muted d-block mb-1">User</small>
                          <h6 class="mb-0"><%= order.deliveryAddress.firstName %> <%= order.deliveryAddress.lastName %></h6>
                        </div>
                        <div class="col ms-5">
                          <h6 class="mb-0"><%= order.paymentMethod %></h6>
                        </div>
                        <div class="col me-5">
                          <h6 class="mb-0"><%= order.products[0].status %></h6>
                        </div>
                        <div class="col">
                          <h6 class="mb-0">₹ <%= order.totalAmount %></h6>
                        </div>
                      </div>
                      </li>
                      </a>
                    <% }) %>
                    
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Transactions -->

        