<div class="py-3 pb-5 bg-light">
    <div class="container">
    <div class="d-flex justify-content-between">
        <div class="col p-4 mt-3 border rounded-3">
            <h5>Delivery Address</h5>
            <h5 class="fw-bold mt-3"><%= order.deliveryAddress.firstName  %> <%= order.deliveryAddress.lastName %></h5>
            <p style="max-width: 400px;">
                <%= order.deliveryAddress.address1 %>, <%= order.deliveryAddress.address2 %>,
                <%= order.deliveryAddress.city %>, <%= order.deliveryAddress.state %>,
                <%= order.deliveryAddress.country %> - <%= order.deliveryAddress.pincode %>
            </p>
            <h5>Phone <span class="fw-bold"><%= order.deliveryAddress.phone %></span></h5>
        </div>
        <div class="col p-4 mt-3 ms-3 border rounded-3 d-flex box-2 align-items-center">
            <div class="ms-4">
                <h5>Order ID </h5>
                <h5>Date </h5>
                <h5>Payment Mode </h5>
                <h5>Total Amount </h5>
            </div>
            <div class="ms-3">
                <h5 class="fw-bold" ><%= order._id.toString().toUpperCase() %> </h5>
                <h5 class="fw-bold" ><%= order.createdAt.toLocaleDateString() %> | <%= order.createdAt.toLocaleTimeString() %> </h5>
                <% if(order.paymentMethod === "COD"){ %>
                    <h5 class="fw-bold" >Cash On Delivery</h5>
                    <% }else{ %>
                    <h5 class="fw-bold" ><%= order.paymentMethod %></h5> 
                <% } %>
                <h5 class="fw-bold" >₹ <%= order.totalAmount %></h5>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between mt-5">
        <h4>Products</h4>
    </div>
    <% orderItems.forEach(product=>{  %>
        <div class="container shadow-sm py-4 mt-3 bg-white d-flex align-items-center">
            <div >
                <img style="width: 100px;" src="/admin/productImgMulter/<%=product.product.images[0].filename %>" alt="">
            </div>
            <div class="col ms-3">
                <h5 class="mb-2 fs-6" style="max-width: 125px;"><%= product.product.productName %></h5>
                <div>
                    <% if(product.variants){ %>
                        <div class="">
                            <p class="mb-0">Size : <span class="fw-bold fs-6"><%= product.variants.size %></span></p>
                            <p class="mb-0">Color : <span class="fw-bold fs-6"><%= product.variants.color %> %></p>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col">
                <% if(product.variants){ %>
                    <h5 class="fw-bold mb-2">₹ <%= product.variants.salePrice %></h5>
                    <% }else{ %>
                        <h5 class="fw-bold mb-2">₹ <%= product.product.salePrice %></h5>
                        <% } %>
                <h6 class="">(Sale Price)</h6>
            </div>
            <div class="col">
                <h5 class="fw-bold mb-2"><%= product.quantity %></h5>
                <h6 class="">(qty)</h6>
            </div>
            <div class="col">
                <% if(product.variants){ %>
                    <h5 class="fw-bold mb-2">₹ <%= product.variants.salePrice * product.quantity %></h5>
                    <% }else{ %>
                        <h5 class="fw-bold mb-2">₹ <%= product.product.salePrice * product.quantity %></h5>
                        <% } %>
                <h6 class="">(Total)</h6>
            </div>
            <div class="col">
                <% if(product.status==='Cancelled'){ %>
                    <h5 class="fw-bold mb-2 text-danger" id="status"><%= product.status %></h5>
                    <h6>Reason : <%= product.reason %></h6>
                    <% }else{ %>
                        <h5 class="fw-bold mb-2 text-success"><%= product.status %></h5>
                        <% } %>
                    </div>
                    
                    <div class="col">
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <input type="text" id="orderId" value="<%= product._id %>" hidden>
                            <input type="text" id="itemId" value="<%= product.item %>" hidden>
                            <input type="text" id="quantity" value="<%= product.quantity %>" hidden>
                            <div class="dropdown-menu">
                                <% if(product.status==="Cancelled" || product.status==="Delivered"){ %>
                                    <a class="dropdown-item disabled" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                                      ><i class="bx bx-trash me-1"></i> Cancel Order</a
                                    >
                                    <a class="dropdown-item disabled" href="javascript:void(0);"
                                      ><i class="bx bx-package me-1"></i> Mark as 'Delivered'</a
                                    >
                                    <% }else{ %>
                                        <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                                          ><i class="bx bx-trash me-1"></i> Cancel Order</a
                                        >
                                        <a class="dropdown-item deliveredBtn" href="#" data-orderId="<%= product._id %>" data-cartItem="<%= product.cartItem %>" 
                                          ><i class="bx bx-package me-1"></i> Mark as 'Delivered'</a
                                        >

                                    <% } %>
                            </div>
                          </div>
                    </div>
        </div>
        <% }) %>
    
    <div class="container mt-4 d-flex justify-content-between ">
        <a href="/admin-panel/orders" class="btn btn-primary">back</a>
        
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Order Cancellation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="p-3">
                <label for="exampleFormControlTextarea1" class="form-label">Reason for Cancellation <span class="text-danger">*</span></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" onclick="cancelOrder()">Cancel Product</button>
        </div>
      </div>
    </div>
  </div>

<style>
    .box-2 div > * {
        margin-bottom: 15px;
    }
</style>

<script>
    const cancelOrder = ()=>{
        const orderId = document.getElementById('orderId').value
        const itemId = document.getElementById('itemId').value
        const quantity = document.getElementById('quantity').value
        const reason = document.getElementById('exampleFormControlTextarea1').value
        $.ajax({
            url:'/admin-panel/order-cancel',
            method:'post',
            data:{orderId,itemId,reason,quantity},
            success:(response)=>{
                location.reload()
            }
        })
    }

    document.querySelectorAll('.deliveredBtn').forEach((button)=>{
        button.addEventListener('click',function(){
            event.preventDefault()
            const orderId = this.getAttribute('data-orderid');
            const cartItem = this.getAttribute('data-cartitem');
        $.ajax({
            url:'/admin-panel/order-detail/delivered',
            method:'POST',
            data:{orderId,cartItem},
            success:(response)=>{
                if(response){
                    location.href=`/admin-panel/order-detail/${orderId}`
                }
            }
        })
    })
    })
    

const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
  myInput.focus()
})
</script>

