<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/admin/assets/img/logo.png" />

    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/d93ba016b2.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="/user/js/jquery-3.3.1.min.js"></script>
    <!-- magic zoom Plugins -->
    <link rel="stylesheet" href="/user/magiczoomplus/magiczoomplus.css">
    <script src="/user/magiczoomplus/magiczoomplus.js"></script>

    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">

                <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>
<style>
    .activeState{
        background-color: #d3d2c5;
        border-radius: 30px;
    }
    #parentContainer{
        min-height: 85vh;
    }
    .layout-menu-container{
        background-color: #f3f2ee;
    }
   .layout-menu{
    margin-top: 20px;
       width: 250px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .menu-item{
       margin: 5px 0;
       padding: 10px 20px;
   }
   .line{
       display: block;
       width: 100%;
       border-top: 1px solid #0000001d;
   }
   .menu-item a{
       color: #000;
       font-size: 18px;
   }
   .menu-link{
       display: flex;
   }
   .menu-inner{
       list-style: none;
   }
   .menu-icon{
       margin-right: 10px;
   }
   .greeting{
        margin: 20px;
       padding: 20px;
       width: 100%;
   }
   .greeting h4{
       margin-bottom: 10px;
   }

 </style>

<%- include('../partials/user/headerLoggedIn')  %>


<div class="container d-flex" id="parentContainer">
    <!-- Menu -->
    <div class="layout-menu-container">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
   
       <ul class="menu-inner py-1">
         <!-- Dashboard -->
         <li style="border-top: none;" class="menu-item  <%= activeMenuItem === '/profile' ? 'activeState' : '' %>">
           <a href="/profile" class="menu-link">
             <i class="menu-icon tf-icons fa-solid fa-user"></i>
             <h6>Profile</h6>
           </a>
         </li>
         <span class="line"></span>
         <!-- Products -->
         <li class="menu-item <%= activeMenuItem === '/addresses' ? 'activeState' : '' %>">
           <a href="/profile/addresses" class="menu-link">
               <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
               <h6>Addresses</h6> 
           </a>
       </li>
       <span class="line"></span>
       
       <!-- Orders -->
       <li class="menu-item <%= activeMenuItem === '/orders' ? 'activeState' : '' %>">
        <a href="/profile/orders" class="menu-link">
            <i class="menu-icon fa-solid fa-rectangle-list"></i>
            <h6>Orders</h6>
        </a>
    </li>
    <span class="line"></span>

       <!-- Orders -->
       <li class="menu-item <%= activeMenuItem === '/wishlist' ? 'activeState' : '' %>">
        <a href="/profile/wishlist" class="menu-link">
            <i class="menu-icon fa-solid fa-heart"></i>
            <h6>Wishlist</h6>
        </a>
    </li>
    <span class="line"></span>
       
       
       
       <!-- Customers -->
       <li class="menu-item <%= activeMenuItem === '/change-password' ? 'activeState' : '' %>">
           <a href="/profile/change-password" class="menu-link">
               <i class="menu-icon fa-solid fa-lock"></i>
               <h6>Change Password</h6>
           </a>
       </li>
       <span class="line"></span>
       
       <!-- Coupon -->
       <li class="menu-item">
           <a href="/logout" class="menu-link text-danger" >
               <i class="menu-icon tf-icons fa-solid fa-right-from-bracket"></i>
               <h6 class="text-danger">Signout</h6>
           </a>
       </li>
       
       </ul>
     </aside>
    </div>
     <!-- / Menu -->
   
     <div class="greeting">
        
        <%- body %>

     </div>
   </div>
     
     


<%- include('../partials/user/footer')  %>
<!-- Js Plugins -->

<script src="/user/js/bootstrap.min.js"></script>
<script src="/user/js/jquery.nice-select.min.js"></script>
<script src="/user/js/jquery.nicescroll.min.js"></script>
<script src="/user/js/jquery.magnific-popup.min.js"></script>
<script src="/user/js/jquery.countdown.min.js"></script>
<script src="/user/js/jquery.slicknav.js"></script>
<script src="/user/js/mixitup.min.js"></script>
<script src="/user/js/owl.carousel.min.js"></script>
<script src="/user/js/main.js"></script>
</body>

</html>