

<div class="container d-flex" id="parentContainer">
    <!-- Menu -->
    <div class="layout-menu-container">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
   
       <ul class="menu-inner py-1">
         <!-- Dashboard -->
         <li style="border-top: none;" class="menu-item <%= activeMenuItem === '/admin_panel' ? 'active' : '' %>">
           <a href="/profile" class="menu-link">
             <i class="menu-icon tf-icons fa-solid fa-user"></i>
             <h6>Profile</h6>
           </a>
         </li>
         <span class="line"></span>
         <!-- Products -->
         <li class="menu-item <%= activeMenuItem === '/products' ? 'active' : '' %>">
           <a href="/profile/addresses" class="menu-link">
               <i class="menu-icon tf-icons fa-solid fa-address-book"></i>
               <h6>Addresses</h6> 
           </a>
       </li>
       <span class="line"></span>
       
       <!-- Orders -->
       <li class="menu-item <%= activeMenuItem === '/user_management' ? 'active' : '' %>">
        <a href="/orders" class="menu-link">
            <i class="menu-icon fa-solid fa-rectangle-list"></i>
            <h6>Orders</h6>
        </a>
    </li>
    <span class="line"></span>
       
       
       
       <!-- Customers -->
       <li class="menu-item <%= activeMenuItem === '/user_management' ? 'active' : '' %>">
           <a href="/admin_panel/user_management" class="menu-link">
               <i class="menu-icon fa-solid fa-lock"></i>
               <h6>Change Password</h6>
           </a>
       </li>
       <span class="line"></span>
       
       <!-- Coupon -->
       <li class="menu-item">
           <a href="#" class="menu-link text-danger" >
               <i class="menu-icon tf-icons fa-solid fa-right-from-bracket"></i>
               <h6 class="text-danger">Signout</h6>
           </a>
       </li>
       
       </ul>
     </aside>
    </div>
     <!-- / Menu -->
   
     <div class="greeting flex-grow-1 mb-5">
            <h4 class="mb-4">Order History</h4>
            <table class="table table-hover">
                    <thead >
                        <tr>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order=>{%>
                            <tr class="clickable-row" data-href="/order-detail/<%= order._id %>">
                                <td><%= order._id %></td>
                                <td><%= order.paymentMethod %></td>
                                <td>₹ <%= order.totalAmount %></td>
                                <% if(order.products[0].status==="Placed"){ %>
                                  <td class="text-success fw-bold"><%= order.products[0].status %></td>
                                <% }else if(order.products[0].status==="Pending"){ %>
                                  <td class="text-warning fw-bold"><%= order.products[0].status %></td>
                                <% }else if(order.products[0].status==="Cancelled"){ %>
                                  <td class="text-danger fw-bold">Cancelled</td>
                                  <% }else{%>
                                    <td class="text-success fw-bold">Delivered</td>
                                <% } %>
                                <td><%= order.createdAt.toLocaleDateString() %> <%= order.createdAt.toLocaleTimeString() %></td>
                              </tr>
                        <% }) %>
                    </tbody>
            </table>
     </div>
   </div>
     
     <style>
      #parentContainer{
        min-height: 85vh;
      }
        .clickable-row:hover{
            cursor: pointer;
        }
        .layout-menu-container{
            background-color: #f3f2ee;
        }
       .layout-menu{
        margin-top: 20px;
           width: 250px;
           display: flex;
           align-items: center;
           justify-content: center;
       }
       .menu-item{
           margin: 5px 0;
           padding: 10px 20px;
       }
       .line{
           display: block;
           width: 100%;
           border-top: 1px solid #0000001d;
       }
       .menu-item a{
           color: #000;
           font-size: 18px;
       }
       .menu-link{
           display: flex;
       }
       .menu-inner{
           list-style: none;
       }
       .menu-icon{
           margin-right: 10px;
       }
       .greeting{
            margin: 20px;
            padding: 20px;
            max-height: 500px; 
            overflow-y: auto;
       }
       .greeting h4{
           margin-bottom: 10px;
       }
   
     </style>

<script>
$(document).ready(function() {
    $(".clickable-row").click(function() {
      var href = $(this).data("href");
      if (href) {
        window.location.href = href;
      }
    });
  });
</script>
  