<h4 class="mb-5 p-3 pl-4 rounded-2 text-white fw-bold shadow-sm" style="background-color: #616161;">Order History</h4>
<div class="table-container">
            <table class="table table-hover">
                    <thead >
                        <tr>
                            <th>Order Id</th>
                            <th>Payment</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order=>{%>
                            <tr class="clickable-row" data-href="/order-detail/<%= order._id %>">
                                <td><%= order._id %></td>
                                <td><%= order.paymentMethod %></td>
                                <td>₹ <%= order.totalAmount %></td>
                                <% if(order.products[0].status==="Placed"){ %>
                                  <td class="text-success fw-bold"><%= order.products[0].status %></td>
                                <% }else if(order.products[0].status==="Pending"){ %>
                                  <td class="text-warning fw-bold"><%= order.products[0].status %></td>
                                <% }else if(order.products[0].status==="Cancelled"){ %>
                                  <td class="text-danger fw-bold">Cancelled</td>
                                  <% }else{%>
                                    <td class="text-success fw-bold">Delivered</td>
                                <% } %>
                                <td><%= order.createdAt.toLocaleDateString() %> <%= order.createdAt.toLocaleTimeString() %></td>
                              </tr>
                        <% }) %>
                    </tbody>
            </table>
          </div>
   
     
     <style>
        .clickable-row:hover{
            cursor: pointer;
        }
        .table-container{
          max-height: 500px; 
            overflow-y: auto;
        }
       .greeting{
            margin: 20px;
            padding: 20px;
            
       }
       .greeting h4{
           margin-bottom: 10px;
       }
   
     </style>

<script>
$(document).ready(function() {
    $(".clickable-row").click(function() {
      var href = $(this).data("href");
      if (href) {
        window.location.href = href;
      }
    });
  });
</script>
  