<link rel="stylesheet" href="/user/css/modal.css">
<style>
  .rating-stars {
  display: inline-block;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #ffcc00;
}

#horizontal-profile::-webkit-scrollbar {
  width: 8px; /* Set the width of the scroll bar */
}

#horizontal-profile::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the scroll bar track */
}

#horizontal-profile::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scroll bar thumb */
}

#horizontal-profile::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the scroll bar thumb on hover */
}



</style>

<section class="shop-details">
  <div class="product__details__pic mb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-start">
          <div class="product__details__breadcrumb">
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <span>Product Details</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <ul class="nav nav-tabs" role="tablist">
            <% product.images.forEach(function(image, index) { %>
              <li class="nav-item">
                <a class="nav-link <%= index === 0 ? 'active' : '' %>" data-toggle="tab" href="#tabs-<%= index + 1 %>"
                  role="tab">
                  <div class="product__thumb__pic set-bg" data-setbg="/admin/productImgMulter/<%= image.filename %>">
                  </div>
                </a>
              </li>
              <% }) %>
          </ul>
        </div>
        <div class="col-lg-6 col-md-9">
          <div class="tab-content">
            <% product.images.forEach(function(image, index) { %>
              <div class="tab-pane <%= index === 0 ? 'active' : '' %>" id="tabs-<%= index + 1 %>" role="tabpanel">
                <a href="/admin/productImgMulter/<%= image.filename %>" style="height: 546px;width: 546px;" class="MagicZoom"
                  data-options='{"zoomWidth": 400, "zoomHeight": 400, "cssClass": "mz-show-arrows"}'><img style="height: 546px;"
                    src="/admin/productImgMulter/<%= image.filename %>" alt=""></a>
              </div>
              <% }) %>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-center">


          <div class="product__details__text ">
            <h6 style="color: #b19975;font-weight: 800;" class="mb-3">
              <%= product.brand %>
            </h6>
            <h4>
              <%= product.productName %>
            </h4>

            <h3 class="d-inline">₹<%= product.salePrice %>
            </h3>
            <p style="color: #b19975;" class="text-decoration-line-through d-inline">₹<%= product.productPrice %>
            </p>

            <div class="product__details__option">


            </div>
            <div class="product__details__cart__option">
              <a href="" onclick="addToCart('<%= product._id%>'), event.preventDefault()" class="primary-btn">add to cart</a>
              <a href="" onclick="addToWishlist('<%= product._id%>'), event.preventDefault()" class="text-dark mt-3 d-block"><i class="fa fa-heart"></i> add to wishlist</a>
            </div>

            <div class="product__details__last__option">
              <ul class="mb-5">
                <li><span>SKU:</span>
                  <%= product._id.toString().slice(8, 15) %>
                </li>
                <li><span>Categories:</span>
                  <%= category.name %>
                </li>
              </ul>
              <h5 class="mt-3"><span>Guaranteed Safe Checkout</span></h5>
              <img src="/user/img/shop-details/details-payment.png" alt="">
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>
  <div class="product__details__content my-5 py-3">
    <div class="container">
      <div class="col">
        <div class="demo-inline-spacing mt-3">
          <div class="" style="border-bottom: 1px solid #000; width: 100%;">
          <div class="list-group list-group-horizontal-md text-md-center col-6"  >
            <style>
              .list-group-item.active{
                background-color: #111111;
                border-color: #111111;
              }
            </style>
            <a
              class="list-group-item list-group-item-action active"
              id="home-list-item"
              data-bs-toggle="list"
              href="#horizontal-home"
              style="border: none;"
              >Description</a
            >
            <a
              class="list-group-item list-group-item-action "
              id="profile-list-item"
              data-bs-toggle="list"
              href="#horizontal-profile"
              style="border: none;"
              >Reviews (<%= review.length %>)</a
            >
          </div>
        </div>
          <div class="tab-content px-0 mt-4">
            <div class="tab-pane fade show active" id="horizontal-home">
              <h5 class="mb-3">Product Information</h5>
              <%= product.description %>
            </div>
            <div class="tab-pane fade " id="horizontal-profile" style="max-height: 500px; overflow: auto; scroll-behavior: smooth;">
              <% if(review.length){ %>
              <% review.forEach(review=>{ %>
                <div class="container bg-light p-3 rounded-3 mb-3">
                  <div class="rating-stars mb-2">
                    <% for(let i=0;i<review.rating;i++){ %>
                      <span class="star" ><i class="fa-solid fa-star"></i></span>
                  <% } %>
                  </div>
                  <div class="d-flex align-items-center">
                    <h5 class=""><%= review.userName %></h5>
                    <i class="bx bx-check-circle fs-5 ms-1"></i>
                    <p class="ms-2 mb-0" style="opacity: 80%;">Certified Buyer</p>
                  </div>
                  <hr style="background-color: #000; margin: 10px 0;">
                  <div>
                    <h5><%= review.reviewText %></h5>
                  </div>
                  <p class="mb-0 mt-2" style="opacity: 80%;"><%= review.timestamp.toLocaleDateString('en-US',{weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) %></p>
                </div>
              <% }) %>
              <% }else{ %>
                <div class="container d-flex justify-content-center align-items-center bg-light" style="height: 150px;">
                  <h5>No Reviews</h5>
                </div>
                <% } %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>

  
</section>





<script>
  // JavaScript code to handle tab switching
  const tabLinks = document.querySelectorAll('.nav-link');
  const tabPanes = document.querySelectorAll('.tab-pane');

  tabLinks.forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      const targetTab = document.querySelector(this.getAttribute('href'));
      tabPanes.forEach(function (pane) {
        pane.classList.remove('active');
      });
      targetTab.classList.add('active');
    });
  });

    function addToCart(productId){
        let cartCount = document.getElementById('cartCount')
        $.ajax({
            url:'/add-to-cart',
            data:{productId},
            method:'post',
            success:(response)=>{
              if(response.status){
                        cartCount.innerHTML = response.cartCount
                        showSuccessModal()
                    }else{
                        showErrorModal()
                        setTimeout(()=>{
                            location.href = '/user-signin';
                        },1000)
                    }
            }
        })
    }

    const addToWishlist = (productId)=>{
      $.ajax({
        url:'/add-to-wishlist',
        data:{productId},
        method:'post',
        success:(response)=>{
          if(!response.isUserLoggedIn){
            showErrorModal()
            setTimeout(()=>{
             location.href = '/user-signin';
             },1000)
          }else{
            if(response.status){
              showSuccessWishlist()
            }else{
              showErrorWishlist()
            }
          }
        }
      })
    }

    function showSuccessModal() {
    Swal.fire({
      icon: 'success',
      title: 'Success!',
      text: 'Product added to cart.',
      timer: 1000, // Set the timer to 2000 milliseconds (2 seconds)
      showConfirmButton: false, // Hide the "OK" button
      background: '#f8f9fa', // Set a custom background color
      iconColor: '#28a745', // Set a custom icon color
      padding: '2rem', // Increase the padding
      width: '300px', // Set a custom width
      customClass: {
        title: 'my-success-modal-title', // Add a custom CSS class to the title
        content: 'my-success-modal-content', // Add a custom CSS class to the content
      },
      didOpen: () => {
        // Custom animations or actions when the modal opens
        // For example, you can use GSAP or CSS animations
        // Here's an example using GSAP:
        gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
        gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
        gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
      },
    });
  }

  function showErrorModal() {
    Swal.fire({
      icon: 'error',
      title: 'Login Required',
      text: 'Please Login for Add to Cart',
      showConfirmButton: false,
    });
  }

  function showErrorWishlist() {
    Swal.fire({
      icon: 'warning',
      title: 'Cannot Add',
      text: 'Product is already in Wishlist',
      showConfirmButton: true,
    });
  }

  function showSuccessWishlist() {
  Swal.fire({
    icon: 'success',
    title: 'Success!',
    text: 'Product added to Wishlist.',
    timer: 2000, // Set the timer to 2000 milliseconds (2 seconds)
    showConfirmButton: false, // Hide the "OK" button
    background: '#f8f9fa', // Set a custom background color
    iconColor: '#28a745', // Set a custom icon color
    padding: '2rem', // Increase the padding
    width: '300px', // Set a custom width
    customClass: {
      title: 'my-success-modal-title', // Add a custom CSS class to the title
      content: 'my-success-modal-content', // Add a custom CSS class to the content
    },
    didOpen: () => {
      // Custom animations or actions when the modal opens
      // For example, you can use GSAP or CSS animations
      // Here's an example using GSAP:
      gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
      gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
      gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
    },
  });
}


</script>