
<link rel="stylesheet" href="/user/css/modal.css">
<link href="/user/noUiSlider-15.7.1/dist/nouislider.css" rel="stylesheet">
<script src="/user/noUiSlider-15.7.1/dist/nouislider.js"></script>


<style>
     .input-container {
        position: relative;
      }

      .clear-button {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }

      .clear-button:hover {
        opacity: 1;
      }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->



<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                            <form id="products-list-form">
                                <div class="input-container">
                                    <input
                                      type="text"
                                      id="searchItem"
                                      name="searchKeyword"
                                      placeholder="Search..."
                                      type="search"
                                      class="input"
                                      oninput="toggleClearButton()"
                                      onkeyup="fetchProductsDataWithPage(1)"
                                    />
                                    <span
                                      id="clearButton"
                                      class="clear-button"
                                      onclick="clearSearchField()"
                                      style="display: none;"
                                    >
                                      &#10005;
                                    </span>
                                  </div>
                                  
                                </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                
                                                <fieldset onchange="fetchProductsDataWithPage(1)">
                                                <% categories.forEach(category=>{ %>
                                                        <div>
                                                            <input type="radio" id="huey" name="category" value="<%= category._id %>" checked>
                                                            <label for="huey" class="ms-2"><%= category.name  %></label>
                                                        </div>
                                                        <% }) %>
                                                    </fieldset>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing <span id="start"><%= ((currentPage-1)*6)+1 %></span> - <span id="end"><%= (currentPage)*6 > totalDocuments? totalDocuments : (currentPage)*6 %></span> of <span id="totalDocuments"><%= totalDocuments %></span> results</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select id="sortBy" name="sortBy" onchange="fetchProductsDataWithPage(1)">
                                    <option value="price_low">Low To High</option>
                                    <option value="price_high">High To Low</option>
                                </select>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="row" id="resultHtml">
                  <% products.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product__item">
                          <a href="/shop/product/<%=product._id %>">
                          <div class="product__item__pic set-bg">
                            <img src="/admin/productImgMulter/<%=product.images[0].filename %>" alt="" style="height:260px"> 
                          </div>
                        </a>
                          <div class="product__item__text">
                            <h6 style="color: #b19975;font-weight: 800;"><%= product.brand %></h6>
                            <h6><%= product.productName%></h6>
                            <input type="text" id="isUserLoggedIn" value="<%= isUserLoggedIn  %>" hidden>
                            <a href="#" id="addToCart" onclick="addToCart('<%=product._id%>'),event.preventDefault()" class="add-cart">+ Add To Cart</a>
                            <h5 class="d-inline">₹<%= product.salePrice  %> </h5><p style="color: #b19975;" class="text-decoration-line-through d-inline">₹<%= product.productPrice  %></p>
                          </div>
                        </div>
                    </div>
           <% }); %>
          </div>
                <div class="row" >
                    <div class="col-lg-12">
                      <div class="product__pagination" id="paginationRow">
                        <% for (let i = 1; i <= pages; i++) { %>
                          <% if (currentPage == i) { %>
                            <a class="active" href="/shop/?pageNum=<%= i %>" onclick="fetchProductsDataWithPage('<%= i %>')"><%= i %></a>
                          <% } else { %>
                            <a class="" href="/shop/?pageNum=<%= i %>" onclick="fetchProductsDataWithPage('<%= i %>')"><%= i %></a>
                          <% } %>
                        <% } %>
                      </div>
                      
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->



<script>
 $("#products-list-form").submit((e) => {
   e.preventDefault();
   fetchProductsDataWithPage(1)
 });

 function fetchProductsDataWithPage(pageNum) {
  let searchKeyword = $('#searchItem').val().trim();
  let category = $("input[name='category']:checked").val();
  let sortBy = $("#sortBy").val();

  let url = "/shop/filter";

  let hasQueryParams = false;

  if (searchKeyword !== "") {
    url += "?search=" + encodeURIComponent(searchKeyword);
    hasQueryParams = true;
  }

  if (category !== undefined) {
    url += (hasQueryParams ? "&" : "?") + "category=" + encodeURIComponent(category);
    hasQueryParams = true;
  }

  if (sortBy !== "") {
    url += (hasQueryParams ? "&" : "?") + "sort=" + encodeURIComponent(sortBy);
  }

  // Add the pageNum parameter to the URL
  url += (hasQueryParams ? "&" : "?") + "pageNum=" + encodeURIComponent(pageNum);

  // Send AJAX request
  $.ajax({
    url: url,
    method: "get",
    success: function (response) {
      console.log("hello", response);
      if (!response.shopItems) {
        document.getElementById('resultHtml').innerHTML = 'No Results Found';
        document.getElementById('paginationRow').innerHTML = '';
      } else {
        document.getElementById('resultHtml').innerHTML = response.shopItems;
        document.getElementById('totalDocuments').innerHTML = response.totalCount;
        const pageNum = response.pageNum
        const totalCount = response.totalCount
        document.getElementById('start').innerHTML = ((pageNum-1)*6)+1;
        document.getElementById('end').innerHTML = (pageNum)*6 > totalCount? totalCount : (pageNum)*6;
        updatePaginationLinks(response.pageNum, response.totalPages);
      }
    },
    error: function (xhr, status, error) {
      console.error(error);
    }
  });
}



function updatePaginationLinks(currentPage, totalPages) {
  let paginationLinksHtml = '';

  for (let i = 1; i <= totalPages; i++) {
    if (currentPage == i) {
      paginationLinksHtml += `<a class="active me-2" href="#" onclick="fetchProductsDataWithPage(${i})">${i}</a>`;
    } else {
      paginationLinksHtml += `<a class="me-2" href="#" onclick="fetchProductsDataWithPage(${i})">${i}</a>`;
    }
  }

  document.getElementById('paginationRow').innerHTML = paginationLinksHtml;
}

 
 </script>

<script>
    function toggleClearButton() {
      var searchItem = document.getElementById("searchItem");
      var clearButton = document.getElementById("clearButton");

      if (searchItem.value.length > 0) {
        clearButton.style.display = "block";
      } else {
        clearButton.style.display = "none";
      }
    }

    function clearSearchField() {
      var searchItem = document.getElementById("searchItem");
      searchItem.value = "";
      toggleClearButton();
    }

  </script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function addToCart(productId){
            let cartCount = document.getElementById('cartCount')
            $.ajax({
                url:'/add-to-cart',
                data:{productId},
                method:'post',
                success:(response)=>{
                    if(response.status){
                        cartCount.innerHTML = response.cartCount
                        showSuccessModal()
                    }else{
                        showErrorModal()
                        setTimeout(()=>{
                            location.href = '/user-signin';
                        },1000)
                    }
                }
            })
        }

        const addToWishlist = (productId)=>{
      $.ajax({
        url:'/add-to-wishlist',
        data:{productId},
        method:'post',
        success:(response)=>{
          if(!response.isUserLoggedIn){
            showErrorModal()
            setTimeout(()=>{
             location.href = '/user-signin';
             },1000)
          }else{
            if(response.status){
              showSuccessWishlist()
            }else{
              showErrorWishlist()
            }
          }
        }
      })
    }

    

        function showSuccessModal() {
    Swal.fire({
      icon: 'success',
      title: 'Success!',
      text: 'Product added to cart.',
      timer: 1000, // Set the timer to 2000 milliseconds (2 seconds)
      showConfirmButton: false, // Hide the "OK" button
      background: '#f8f9fa', // Set a custom background color
      iconColor: '#28a745', // Set a custom icon color
      padding: '2rem', // Increase the padding
      width: '300px', // Set a custom width
      customClass: {
        title: 'my-success-modal-title', // Add a custom CSS class to the title
        content: 'my-success-modal-content', // Add a custom CSS class to the content
      },
      didOpen: () => {
        // Custom animations or actions when the modal opens
        // For example, you can use GSAP or CSS animations
        // Here's an example using GSAP:
        gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
        gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
        gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
      },
    });
  }

  function showErrorModal() {
    Swal.fire({
      icon: 'error',
      title: 'Login Required',
      text: 'Please Login for Add to Cart',
      showConfirmButton: false,
    });
  }

  function showErrorWishlist() {
    Swal.fire({
      icon: 'warning',
      title: 'Cannot Add',
      text: 'Product is already in Wishlist',
      showConfirmButton: true,
    });
  }

  function showSuccessWishlist() {
  Swal.fire({
    icon: 'success',
    title: 'Success!',
    text: 'Product added to Wishlist.',
    timer: 2000, // Set the timer to 2000 milliseconds (2 seconds)
    showConfirmButton: false, // Hide the "OK" button
    background: '#f8f9fa', // Set a custom background color
    iconColor: '#28a745', // Set a custom icon color
    padding: '2rem', // Increase the padding
    width: '300px', // Set a custom width
    customClass: {
      title: 'my-success-modal-title', // Add a custom CSS class to the title
      content: 'my-success-modal-content', // Add a custom CSS class to the content
    },
    didOpen: () => {
      // Custom animations or actions when the modal opens
      // For example, you can use GSAP or CSS animations
      // Here's an example using GSAP:
      gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
      gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
      gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
    },
  });
}

</script>