
<link rel="stylesheet" href="/user/css/modal.css">



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <% categories.forEach(category=>{ %>
                                                    <li><a href="/shop/category/<%= category._id %>"><%= category.name  %></a></li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <% brandList.forEach(brand=>{ %>
                                                    <li><a href="/shop/brand/<%= brand %>"><%= brand  %></a></li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                                <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                <li><a href="#">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% products.forEach(product => { %>
                        <% if(product.stock > 0){ %>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/shop/product/<%=product._id %>"><div class="product__item__pic set-bg" data-setbg="/admin/productImgMulter/<%=product.images[0].filename %>">
                                    </div></a>
                                    <div class="product__item__text">
                                        <h6 style="color: #b19975;font-weight: 800;"><%= product.brand %></h6>
                                        <h6><%= product.productName%></h6>
                                        <input type="text" id="isUserLoggedIn" value="<%= isUserLoggedIn  %>" hidden>
                                        <a href="#" id="addToCart" onclick="addToCart('<%=product._id%>'),event.preventDefault()" class="add-cart">+ Add To Cart</a>
                                        <h5 class="d-inline">₹<%= product.salePrice  %> </h5><p style="color: #b19975;" class="text-decoration-line-through d-inline">₹<%= product.productPrice  %></p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                   <% }); %>
                    
                    
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function addToCart(productId){
            let cartCount = document.getElementById('cartCount')
            $.ajax({
                url:'/add-to-cart',
                data:{productId},
                method:'post',
                success:(response)=>{
                    if(response.status){
                        cartCount.innerHTML = response.cartCount
                        showSuccessModal()
                    }else{
                        showErrorModal()
                        setTimeout(()=>{
                            location.href = '/user-signin';
                        },1000)
                    }
                }
            })
        }

    

        function showSuccessModal() {
    Swal.fire({
      icon: 'success',
      title: 'Success!',
      text: 'Product added to cart.',
      timer: 1000, // Set the timer to 2000 milliseconds (2 seconds)
      showConfirmButton: false, // Hide the "OK" button
      background: '#f8f9fa', // Set a custom background color
      iconColor: '#28a745', // Set a custom icon color
      padding: '2rem', // Increase the padding
      width: '300px', // Set a custom width
      customClass: {
        title: 'my-success-modal-title', // Add a custom CSS class to the title
        content: 'my-success-modal-content', // Add a custom CSS class to the content
      },
      didOpen: () => {
        // Custom animations or actions when the modal opens
        // For example, you can use GSAP or CSS animations
        // Here's an example using GSAP:
        gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
        gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
        gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
      },
    });
  }

  function showErrorModal() {
    Swal.fire({
      icon: 'error',
      title: 'Login Required',
      text: 'Please Login for Add to Cart',
      showConfirmButton: false,
    });
  }

</script>