<link rel="stylesheet" href="/user/css/modal.css">

<style>
    .btn-customized{
        color: #000;
        background-color: #f3f2ee;
        border: none;
        font-weight: bold;
    }
    .btn-customized.disabled{
        background-color: #f8f8f8;
        opacity: 50%;
    }
</style>

<h4 class="mb-5 p-3 pl-4 rounded-2 text-white fw-bold shadow-sm" style="background-color: #616161;">Wishlist (<%= products.length %>)</h4>

<% if(products.length === 0){ %>
    <div class="container d-flex flex-column align-items-center">
        <img class="py-5" width="200px" src="/user/img/shopping-cart/empty-box.gif" alt="">
        <h4>Oops! Wishlist Empty</h4>
        <a href="/shop" class="btn btn-dark mt-4"> Continue Shopping</a>
    </div>
<% }else{%>
    <!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad py-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shopping__cart__table">
                    <table>
                        <tbody>
                            <% products.forEach((products, index) => { %>
                                <tr class="d-flex justify-content-between align-items-center">
                                  <td class="product__cart__item">
                                      <div class="product__cart__item__pic">
                                        <a href="/shop/product/<%= products.product._id %>"><img style="width: 70px;" src="/admin/productImgMulter/<%= products.product.images[0].filename  %>" alt=""></a>
                                      </div>
                                      <div class="product__cart__item__text">
                                        <a href="/shop/product/<%= products.product._id %>"><h6><%= products.product.productName %></h6></a>
                                        <h5 class="d-inline">₹ <h5 class="d-inline" id="productPrice_<%= products.product._id %>"><%= products.product.salePrice %></h5></h5>
                                      </div>
                                  </td>
                                  <td><a href="#" onclick="addToCart('<%=products._id %>','<%=products.product._id%>'),event.preventDefault()" class="btn btn-dark">Add To Cart</a></td>
                                  <td class="cart__close"><a href="#" data-toggle="modal" data-target="#success_tic" onclick="removeProduct('<%=products._id %>','<%=products.product._id %>')"><i class="fa fa-close"></i></a></td>
                                </tr>
                              <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/shop">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
<% } %>

<!-- Modal -->
<div id="success_tic" class="modal fade" role="dialog">
    <div class="modal-dialog modal-top-right">
        <!-- Modal content-->
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head">
                    <h4 style="margin:5px;">Product Removed</h4>
                </div>

                <h1 style="text-align:center;" class="mt-5">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

function addToCart(wishlistId,productId){
            let cartCount = document.getElementById('cartCount')
            $.ajax({
                url:'/add-to-cart',
                data:{productId},
                method:'post',
                success:(response)=>{
                    if(response.status){
                        cartCount.innerHTML = response.cartCount
                        showSuccessModal()
                        removeProduct(wishlistId,productId)
                    }else{
                        showErrorModal()
                        setTimeout(()=>{
                            location.href = '/user-signin';
                        },1000)
                    }
                }
            })
        }

    function removeProduct(wishlistId,productId){
        $.ajax({
            url:'/remove-product-wishlist',
            data:{wishlistId,productId},
            method:'post',
            success:(response)=>{
                setTimeout(()=>{
                    location.reload()
                },1000)
            }
        })
    }

    function showSuccessModal() {
    Swal.fire({
      icon: 'success',
      title: 'Success!',
      text: 'Product added to cart.',
      timer: 1000, // Set the timer to 2000 milliseconds (2 seconds)
      showConfirmButton: false, // Hide the "OK" button
      background: '#f8f9fa', // Set a custom background color
      iconColor: '#28a745', // Set a custom icon color
      padding: '2rem', // Increase the padding
      width: '300px', // Set a custom width
      customClass: {
        title: 'my-success-modal-title', // Add a custom CSS class to the title
        content: 'my-success-modal-content', // Add a custom CSS class to the content
      },
      didOpen: () => {
        // Custom animations or actions when the modal opens
        // For example, you can use GSAP or CSS animations
        // Here's an example using GSAP:
        gsap.from('.swal-icon', { opacity: 0, scale: 0, duration: 0.5 });
        gsap.from('.my-success-modal-title', { opacity: 0, y: -20, duration: 0.5, delay: 0.2 });
        gsap.from('.my-success-modal-content', { opacity: 0, y: 20, duration: 0.5, delay: 0.2 });
      },
    });
  }

  function showErrorModal() {
    Swal.fire({
      icon: 'error',
      title: 'Login Required',
      text: 'Please Login for Add to Cart',
      showConfirmButton: false,
    });
  }
    
  </script>