 <!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="width: 230px;">
    <div class="app-brand demo">
      <a href="/admin-panel" class="app-brand-link">
        <span class="app-brand-logo demo">

        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Male Fashion</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item <%= activeMenuItem === '/admin_panel' ? 'active' : '' %>">
        <a href="/admin-panel" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Products -->
      <li class="menu-item <%= activeMenuItem === '/products' ? 'active' : '' %>">
        <a href="/admin-panel/products" class="menu-link">
          <i class="menu-icon tf-icons bx bx-box"></i>
          <div data-i18n="Analytics">Products</div> 
        </a>
      </li>

      <!-- Categories -->
      <li class="menu-item <%= activeMenuItem === '/addCategories' || activeMenuItem === '/addSubCategories' ? 'active open' : '' %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-category"></i>
          <div data-i18n="Layouts">Categories</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item <%= activeMenuItem === '/addCategories' ? 'active' : '' %>">
            <a href="/admin-panel/add-categories" class="menu-link">
              <div data-i18n="Without menu">Add Categories</div>
            </a>
          </li>
          <li class="menu-item <%= activeMenuItem === '/addSubCategories' ? 'active' : '' %>">
            <a href="/admin-panel/add-subCategories" class="menu-link">
              <div data-i18n="Without navbar">Add Sub-Categories</div>
            </a>
        </ul>
      </li>

      <!-- Order list -->
      <li class="menu-item <%= activeMenuItem === '/order_history' ? 'active' : '' %>">
        <a href="/admin-panel/orders" class="menu-link">
          <i class="menu-icon tf-icons bx bx-list-ul"></i>
          <div data-i18n="Analytics">Orders list</div>
        </a>
      </li>

      <!-- Customers -->
      <li class="menu-item <%= activeMenuItem === '/user_management' ? 'active' : '' %>">
        <a href="/admin-panel/user-management" class="menu-link">
          <i class="menu-icon tf-icons bx bx-group"></i>
          <div data-i18n="Analytics">Customers</div>
        </a>
      </li>

      <!-- Coupon -->
      <li class="menu-item <%= activeMenuItem === '/coupon' ? 'active' : '' %>">
        <a href="/admin-panel/coupon" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-coupon"></i>
          <div data-i18n="Analytics">Coupon</div>
        </a>
      </li>

      <!-- Banner -->
      <li class="menu-item <%= activeMenuItem === '/banner' ? 'active' : '' %>">
        <a href="/admin-panel/banner" class="menu-link">
          <i class="menu-icon tf-icons bx bx-carousel"></i>
          <div data-i18n="Analytics">Banner</div>
        </a>
      </li>
    </ul>
  </aside>
  <!-- / Menu -->
  